package 

type Api struct {}

func (Api) Create{{pascal .Name}}() {
  
}

func (Api) CreateMany{{pascal .Name}}() {
  
}

func (Api) Update{{pascal .Name}}() {

}

func (Api) UpdateOne{{pascal .Name}}() {

}


func (Api) Delete{{pascal .Name}}() {

}

func (Api) DeleteOne{{pascal .Name}}() {

}