package handlers

import "github.com/gofiber/fiber/v2"

func Query{{.Node.Name}}(c *fiber.Ctx) error {
	return nil
}

func Find{{.Node.Name}}(c *fiber.Ctx) error {
	return nil
}

func Create{{.Node.Name}}(c *fiber.Ctx) error {
	return nil
}

func Update{{.Node.Name}}(c *fiber.Ctx) error {
	return nil
}

func Delete{{.Node.Name}}(c *fiber.Ctx) error {
	return nil
}