package main

import (
	"{{.Config.App.Pkg}}/db"
	"{{.Config.App.Pkg}}/routes"

	"github.com/gofiber/fiber/v2"
)

func main() {
	db.Init()
	defer db.Client.Close()
	app := fiber.New()
	routes.Init(e)
	app.Listen(":{{.Config.Server.Port}}")
}
