package {{.Config.Server.Pkg}}

import (
	"{{.Config.App.Pkg}}/db"
	"{{.Config.App.Pkg}}/routes"

	"github.com/gofiber/fiber/v2"
)

func {{.Config.Server.FuncName}}() {
	db.Init()
	defer db.Client.Close()
	app := fiber.New()
	routes.Init(app)
	app.Listen(":{{.Config.Server.Port}}")
}
