package db

import (
	"{{.Config.App.Pkg}}/ent"
	"{{.Config.App.Pkg}}/ent/migrate"
	"context"
	"log"

	_ "{{.Config.DriverImport}}"
)

var (
	Client *ent.Client
)

func Init() {
	db, err := ent.Open("{{.Config.Driver}}", "{{.Config.Dsn}}")
	if err != nil {
		log.Fatalln(err)
	}

	db.Schema.Create(context.Background(),
		migrate.WithDropColumn(true),
		migrate.WithDropIndex(true),
		migrate.WithGlobalUniqueID(true),
		migrate.WithForeignKeys(true),
	)

	Client = db
}
