package ent
{{$g := .}}
{{$len := len .TypesImports}}
{{if gt $len 0}}
import (
    {{- range .TypesImports}}
    "{{.}}"
    {{- end}}
)
{{- end}}

{{range .InputNodes}}
type {{.Name}}CreateInput struct {
{{- range .CreateFields}}
{{.Name}} {{.Type}} `json:"{{camel .Name}},omitempty"`
{{- end}}
{{- range .CreateEdges}}
{{.Name}} {{.Type}} `json:"{{.JTag}}"`
{{- end}}
}

func (i *{{.Name}}CreateInput) Mutate(m *{{.Name}}Mutation) {
{{- range .CreateFields}}
    {{- if .Check}}
    if v := i.{{.Name}}; v != nil {{- if .Clear }}&& *v {{- end}}{
        m.{{.Set}}({{.SetParam}})
    }
    {{- else}}
     m.{{.Set}}({{.SetParam}})
    {{- end}}
{{- end -}}
{{- range .CreateEdges}}
    {{- if .Check}}
    if v := i.{{.Name}}; v != nil {{- if .Clear }}&& *v {{- end}}{
      m.{{.Set}}({{.SetParam}})
    }
    {{- else}}
    m.{{.Set}}({{.SetParam}})
    {{- end}}
{{- end}}
}

func (c *{{.Name}}Create) SetInput(i *{{.Name}}CreateInput) *{{.Name}}Create {
    i.Mutate(c.Mutation())
    return c
}

type {{.Name}}UpdateInput struct {
{{- range .UpdateFields}}
{{.Name}} {{.Type}} `json:"{{camel .Name}},omitempty"`
{{- end}}

{{- range .UpdateEdges}}
{{.Name}} {{.Type}} `json:"{{.JTag}}"`
{{- end}}
}


func (i *{{.Name}}UpdateInput) Mutate(m *{{.Name}}Mutation) {
{{- range .UpdateFields}}
    {{- if .Check}}
    if v := i.{{.Name}}; v != nil {{- if .Clear }}&& *v {{- end}}{
        m.{{.Set}}({{.SetParam}})
    }
    {{- else}}
     m.{{.Set}}({{.SetParam}})
    {{- end}}
{{- end}}

{{- range .UpdateEdges}}
    {{- if .Check}}
    if v := i.{{.Name}}; v != nil {{- if .Clear }}&& *v {{- end}}{
      m.{{.Set}}({{.SetParam}})
    }
    {{- else}}
    m.{{.Set}}({{.SetParam}})
    {{- end}}
{{- end}}
}

func (u *{{.Name}}Update) SetInput(i *{{.Name}}UpdateInput) *{{.Name}}Update {
    i.Mutate(u.Mutation())
    return u
}

func (u *{{.Name}}UpdateOne) SetInput(i *{{.Name}}UpdateInput) *{{.Name}}UpdateOne {
    i.Mutate(u.Mutation()) 
    return u
}
{{end}}
